<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Store</title>
    <link rel="shortcut icon" type="image/png" href="/images/166088.png" />
    <link rel="stylesheet" type="text/css" href="/fancybox-master/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="versionVue">
        <header class="bar">
            <div class="flex">
                <div class="header">
                    <img class="logo" src="/images/Captura de pantalla 2019-06-25 a las 12.12.42.png" alt="Logo">
                </div>
                <div class="checkboxes">
                    <label><input type="checkbox" name="english" value="en" v-model="lang">ENgles</label>
                    <label><input type="checkbox" name="spanish" value="es" v-model="lang">ES</label>
                    <label><input type="checkbox" name="catalan" value="ca" v-model="lang">CA</label>
                </div>
                <div class="searchBar">
                    <input type="text" v-model="search" placeholder=" Search..." />
                </div>
            </div>
        </header>
        <div id="container" class="container">
            <book v-for="book in filteredBooks" :item="book">
            </book>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>